@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto); //Add variables here:

$mint-green: #c9fce4;
$icon-square-length: 300px;
$standard-border: 5px solid black;

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

.banner {
    font-family: 'Pacifico', cursive;
    height: 400px;
    background-image: url("kittehs.jpg");
    border : {
      top: $standard-border;
      bottom: $standard-border;
    }
    .slogan {
        background: $mint-green;
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;

        span {
            font-size: 24px;
            line-height: 200px;
        }
    }
}

.container {
    text-align: center;
    font-family: 'Pacifico', cursive;

    .icon {
        display: inline-block;
        margin: 2%;
        border: $standard-border;
        font-size: 32px;
        width: $icon-square-length;
        height: $icon-square-length;
    }
}
