@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto); //Add variables here:

$mint-green: #c9fce4;
$icon-square-length: 300px;
$standard-border: 5px solid black;
$main-font: Roboto, sans-serif;
$second-font: 'Pacifico', cursive;

h1 {
    font: 32px $main-font;
    text-align: center;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.banner {
    font-family: $second-font;
    height: 400px;
    background-image: url("kittehs.jpg");
    border : {
      top: $standard-border;
      bottom: $standard-border;
    }
    .slogan {
        background: $mint-green;
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;

        span {
            font-size: 24px;
            line-height: 200px;
        }
    }
}

.container {
    text-align: center;
    font-family: $second-font;

    .icon {
        display: inline-block;
        margin: 2%;
        border: $standard-border;
        font-size: 32px;
        width: $icon-square-length;
        height: $icon-square-length;
    }
}
