// sass --watch main.scss <-- terminal command to watch for any changes & update accordingly/compile the Sassy Sass

@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto);

// 'partial' sass file begins with underscore (_reset.scss) and is imported into main.scss
@import 'reset';

// sass variables
$mint-green: #c9fce4;
$icon-square-length: 300px;
$standard-border: 5px solid black;
$main-font: Roboto, sans-serif;
$second-font: 'Pacifico', cursive;

h1 {
    font: 32px $main-font;
    text-align: center;
}

// sass nesting
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    font-family: $main-font;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.search-icon {
  fill: $mint-green;
  stroke: black;
}

.banner {
    font-family: $second-font;
    height: 400px;
    background-image: url("kittehs.jpg");
    border : {
      top: $standard-border;
      bottom: $standard-border;
    }
    .slogan {
        background: $mint-green;
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;

        span {
            font-size: 24px;
            line-height: 200px;
        }
    }
}

.title {
  top: 170px;
  position: relative;
}
.container {
    text-align: center;
    font-family: $second-font;

    .icon {
        background: $mint-green;
        background-image: url("kittehs.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        margin: 2%;
        border: $standard-border;
        font-size: 32px;
        width: $icon-square-length;
        height: $icon-square-length;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.slogan, .icon {
  @include border-radius(10px);
}
